# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Local configuration files for testing only, not required to commit
kconnect-cli-config.yaml
connector_*

# todo list does not need to be published
TODO.txt

# but include built assets (for later)
#!installation/*
# for now we exclude all the build assets
installation/build-output/*