{
    "Hostname": [
        "<connect-host>:<port>"
    ],
    "TlsEnable": <true|false>,
    "CaPath": "</path/to/ca.crt>",
    "CertPath": "</path/to/host/certificate.crt>",
    "KeyPath": "</path/to/host/key.pem>"
}