hostnames:
    - <connect-host-1>:<port>
    - <connect-host-2>:<port>
    - <connect-host-3>:<port>
    - ...
protocol: <http|https>
tls:
    enabled: <true|false>
    capath: </path/to/ca.crt>
    certpath: </path/to/host/certificate.crt>
    keypath: </path/to/host/key.pem>
basicauth:
    enabled: <true|false>
    user: <user-name>
    passref: <ENV_VAR>
tokenauth:
    enabled: <true|false>
    authref: <ENV_VAR>
apikeyauth:
    enabled: <true|false>
    header: <header-name>
    authref: <ENV_VAR>